<br></br>
<h1>Services</h1>

<div class="photo-align">

<p>Lawn Service</p>
<%=image_tag("mowing_services.jpg") %>

<br></br>
<br></br>


<p>Mulching</p>
<%=image_tag("mulching_2.jpg") %>


<br></br>
<br></br>

<p>Landscaping Design & Install</p>
<%=image_tag("retainingwall_2.jpg") %>

<p>Retaining Walls</p>
<%=image_tag("retaining_walls_3.jpg") %>

<br></br>
<br></br>

<p>Sod Installtions</p>
<%=image_tag("sod_installations.jpg") %>

<br></br>
<br></br>

<p>Tree Removal</p>
<%=image_tag("peter_on_tree.jpg") %>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40974006-1', 'wellspringlawn.com');
  ga('send', 'pageview');

</script>


 
 


