<br></br>
<h1>Services</h1>

<div class="photo-align">

<p>Lawn Service</p>
<%=image_tag("mowing_services.jpg") %>

<br></br>
<br></br>


<p>Mulching</p>
<%=image_tag("mulching_2.jpg") %>


<br></br>
<br></br>

<p>Landscaping Design & Install</p>
<%=image_tag("retainingwall_2.jpg") %>

<p>Retaining Walls</p>
<%=image_tag("retaining_walls_3.jpg") %>

<br></br>
<br></br>

<p>Sod Installtions</p>
<%=image_tag("sod_installations.jpg") %>

<br></br>
<br></br>

<p>Tree Removal</p>
<%=image_tag("peter_on_tree.jpg") %>

</div>


 
 


