<h1>Pages#services</h1>
<p>trimming of hedges and shrubs</p>
<%=image_tag("") %>
<p>design and installs of new Landscaping </p>
<%=image_tag("") %>
<p>Design and build of retaining walls</p>
<%=image_tag("") %>
<p>Irrigation maintenance</p>
<%=image_tag("") %>
<p>Mulching</p>
<%=image_tag("") %>
<p>Tree pruning or removal</p>
<%=image_tag("") %>
<p>Storm clean-up</p>
<%=image_tag("") %>




 
 


<p>Find me in app/views/pages/services.html.erb</p>
