<center><h1>Services</h1>


<p>Trimming of Hedges & Shrubs</p>
<%=image_tag("shrubs.jpg") %>

<br></br>
<br></br>
<p>Tree Pruning & Removal</p>
<%=image_tag("tree_work.jpg") %>

<br></br>
<br></br>

<p>Mulching</p>
<%=image_tag("mulching.jpg") %>


<br></br>
<br></br>

<p>Design & building of Retaining Walls</p>
<%=image_tag("walls.jpg") %>

<br></br>
<br></br>

</center>

<p>Irrigation maintenance</p>
<%=image_tag("") %>

<p>Storm clean-up</p>
<%=image_tag("") %>

<p>Design and installation of new Landscaping</p>
<%=image_tag("") %>




 
 


