<!DOCTYPE html>
<html>
<head>
  <title>Wellspring Lawn & Landscape</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

     <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to image_tag("wellspringlogo.jpg", :border=>0, :class => 'dock-item'),:action => 'home', :controller => 'pages'%>
          <nav>
            <ul class="nav pull-right">
            <li><%= link_to "Home", '/home', id: "logo-nav" %></li>
            <li><%= link_to "About", '/about', id: "logo-nav" %></li>
            <li><%= link_to "Services", '/services', id: "logo-nav" %></li>
            <li><%= link_to "Portfolio", '/portfolio', id: "logo-nav" %></li>
            <li><%= link_to "Fees", '/fees', id: "logo-nav" %></li>
            <li><%= link_to "Contact", '/contacts/new', id: "logo-nav" %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
   <div class="img">
    
</div>
    <footer class="footer">
    <div class="footer-container">
  <nav>
    <ul>
       <li><%= link_to "Home", '/home' %></li>
       <li><%= link_to "About", '/about' %></li>
       <li><%= link_to "Services", '/services' %></li>
       <li><%= link_to "Portfolio", '/portfolio' %></li>
       <li><%= link_to "Fees", '/fees' %></li>
       <li><%= link_to "Contact", '/contacts/new' %></li>
    </ul>
  </nav>
</div>
</footer>
  </body>
</html>
  





  
 